name: Build and Publish
on:
  workflow_dispatch:
  push:
    branches:
        - main
    # paths-ignore:
    #   - "**.md"
    # tags:
    #   - 'v*'

jobs:
    Build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository  
              uses: actions/checkout@v4
        
            - name: Set up Python
              id: setup-python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'
                
            - name: Install Project
              run: |
                pip install .
                
            - name: Install Build
              run: |
                pip install build
                
            - name: Build Packages
              run: |
                python -m build

            - name: Upload Build
              uses: actions/upload-artifact@v3
              with:
                path: dist/*

    Publish:
        runs-on: ubuntu-latest
        needs: Build
        env:
          name: pypi
          url: https://pypi.org/p/discord-ext-ipcx
    
        permissions:
          id-token: write
    
        steps:
          - name: Download Artifacts
            uses: actions/download-artifact@v3
            with:
              name: artifact
              path: dist
    
          - name: Publish Packages to PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
              user: __token__
              password: ${{ secrets.PYPI_API_TOKEN }}
              repository-url: https://test.pypi.org/legacy/